<!DOCTYPE html>
<html>
<head>
	<title>Create Post</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New Post</legend>
			<table>
				<tr>
					<td>Comment</td>
					<td><input type="text" name="pTitle"></td>
				</tr>
				<!-- <tr>
					
					<td>Room Name</td>
					<td><input type="text" name="rName"></td>
				</tr>
				<tr>
					<td>Room Price</td>
					<td><input type="text" name="rPrice"></td>
				</tr> -->
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html>