
<!DOCTYPE html>
<html>
<head>
	<title>TD_HOMEPAGE</title>
	<link rel="stylesheet" type="text/css" href="/DEALit/css/TD_Dashboard.css">

<!-- <style rel="stylesheet" >

</style> -->

</head>
<body><center>
		<div id="TP_main">
		<table border="8" id="table">
			<tr>
				<td>
					<h1><center><div class="blink">Welcome TO <br>  the arena for TRANSPORT DEALER !~_~!</div></center></h1>
					<br>
					<div id="nametp">USERNAME:	<%= username %></div><br>
				</td>
			</tr>
			<tr>
				<td>
				<div id="linker">
				<a href="/td_DASHBOARD/TD_Lists"> LIST of T_DEALER</a> ~~~~~~
				<a href="/td_DASHBOARD/TD_Profile"> TD ~ PROFILE</a>
				</div>
				<br>
				<div id="lin1">
					<a href="/td_DASHBOARD/TD_Vehicles"> AVAiLABLE ~ VEHiCLES</a> ~~~
					<a href="/td_DASHBOARD/TD_Available_Regions"> AVAiLABLE ~ REgiONS</a> --------
				<a href="/td_DASHBOARD/TD_Available_Regions"> Travelled ~ REGiONS</a>
				</div>
				<br><br>
				<div id="lin2">
				<a href="/td_DASHBOARD/TD_Available_Regions"> Status</a> ~~~
				<a href="/td_DASHBOARD/TD_Available_Regions"> AVAiLABLE TRANSACTiONS</a> ~~~
				<a href="/td_DASHBOARD/TD_Available_Regions"> USED TRANSACTIONS</a>
				</div>
				<br><br>
				<div id="lin3">
				<a href="/td_DASHBOARD/TD_MessagetoAdmin"> COMPLAiNTS TO ADMiN</a> --
				<a href="/td_DASHBOARD/TD_ratings"> R A T i N G S</a> --
				<a href="/td_DASHBOARD/TD_CONTACT_AREA"> CONTACT ARENA</a>
				</div>
				<br>
				<div id="logout">
					<a href="/td_DASHBOARD/TP_LiBRariES">TD~~LiBRariES</a> ----------
					<a href="/td_LogouT"> L O G O U T</a>
					</div>
					<!-- <div id="logout">
						<a href="/dashboard/TP_LiBRariES">TP~~LiBRariES</a>
						<a href="/LogouT"> L O G O U T</a>
						</div> -->
				</td>

			</tr>

		</table>
		</div>
</center></body>
</html>
