
<!DOCTYPE html>
<html>
<head>
	<title>PROFILE~PIC</title>

<style rel="stylesheet">
		body
		{
				background-color: black;
		}
		table
		{
				color: red;
		}
		#pic
		{
				color: yellow;
		}
		a
		{
				color: yellow;
				font-size: 35px;
		}
</style>

</head>
<body><center>
          <table border="20">
						<tr><td><img src="../assets/BackPics/<%= travelbliss_users.picture %>"  height='500' width='500'/></td></tr>
					</table>
		<a href="/td_DASHBOARD/TD_Profile">PROFiLE </a>

</form>
</center></body>
</html>
