<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New User</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					
					<td>Password</td>
					<td><input type="text" name="password"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input type="text" name="gender"></td>
				</tr>
				
				<tr>
					<td>education</td>
					<td><textarea type="text" name="education"></textarea></td>
				</tr>
				
				<tr>
					<td>type</td>
					<td><textarea type="text" name="type"></textarea></td>
				</tr>

				<!-- <tr>
					<td>tag</td>
					<td><input type="text" name="tag"></td>
				</tr> -->

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html>