<!DOCTYPE html>
<html>

<head>
	<title>Home page</title>

</head>

<body>

	<form method="post">
		<h1 id="abc"> Welcome, <%= name %></h1>


		<a href="/user/a_create">Create User</a> |
		<a href="/home/a_userlist">Show Post list</a> |
		<a href="/logout">logout</a> <br><br><br>

	</form>
</body>




</html>